/*Blue Color: #257FC4 */

/** {
	border: solid black 1px;
}*/

body {
	background-color: #f2f2f2;
	font-family: Futura;
	margin: 0px;
	animation: opac 0.25s;
}

@keyframes opac {
	from{opacity:0} 
	to{opacity:1}
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

/*main {
	animation: opac 0.5s;
}*/

#index-main {
	width: 450px;
	margin: 150px auto;
	background-color: white;
	border: 1px solid #257FC4;
	border-radius: 5px;
	padding: 80px 55px 70px 55px;
	/*box-shadow: 0px 0px 20px #257FC4;*/
}

#index-main h1 {
	text-align: center;
	color: #257FC4;
	font-weight: 200;
	border-bottom: solid 1px #257FC4;
	margin: auto;
	width: 300px;
}

#links {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	font-weight: 100;
	margin: -1px 0px -1px 0px;
}

#links li {
	/*background-color: lightgrey;*/
	/*border-bottom: 1px solid black;*/
	padding: 10px 0px 10px 0px;
}

li:hover {
	background-color: #257FC4;
	color: white;
}

#contact {
	color: grey;
	text-align: center;
	font-size: 13px;
	margin: 0px auto 0px auto;
	border-top: solid 1px #257FC4;
	width: 300px;
	padding-top: 10px;
}

#contact a {
	color: grey;
}

header {
	background-color: white;
	border-bottom: 1px solid #257FC4;
	padding-left: 50px;
	/*box-shadow: 0px 0px 20px #257FC4;*/

}

header h1{
	color: #257FC4;
	display: inline-block;
	margin: 0px;
	vertical-align: bottom;
	width: 335px;
	text-align: center;
	height: 100%;
/*	animation: opac 0.5s;*/
}

nav {
	display: inline-block;
	vertical-align: top;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	text-align: center;
	padding: 0px;
} 

nav li {
	display: inline-block;
	width: 150px;
	padding: 20px 0px 8px 0px;
}

#page {
	width: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	border: 1px solid #257FC4;
	border-radius: 5px;
	padding: 50px 55px 0px 55px;
	text-align: center;
	max-width: 800px;
	/*box-shadow: 0px 0px 20px #257FC4;*/
}

#page h2 {
	color: #257FC4;
}

#page h3 {
	color: #257FC4;
}

#page h4 {
	color: #257FC4;
}

#page > ul {

	text-align: left;
	margin: auto;
	display: inline-block;
}

#page li:hover {
	background-color: white;
	color: black;
}

#page p {
	width: 90%;
	margin: auto;
	margin-bottom: 15px;
	font-size: 1em;
}

#project-list {
	list-style-type: none;
	padding:0px 20px 0px 20px;
	border-bottom: 1px solid #257FC4;
}

#project-list li {
	display: inline-block;
	padding: 10px 5px 10px 5px;
}

#project-list li:hover {
	background-color: #257FC4;
	color: white;
}

.to-top {
	display: block;
	margin:auto;
	width: 160px;
}

.to-top:hover {
	background-color: #257FC4;
	color:white;
}

#page img {
	max-width: 100%;
}

@media screen and (max-width: 1175px) {
	header h1 {
		display: block;
		margin: auto;
		padding-top: 10px;
	}

	nav {
		display: block;
		margin: auto;
	}

	header {
		padding-left: 0px;
	}
}

@media screen and (max-width: 835px) {
	#page {
		display: block;
		width: 100%;
		border-radius: 0px;
		border-width: 1px 0px 1px 0px;
		padding: 30px 0px 30px 0px;
	}
	nav li {
		display: block;
		width: 100%;
	}

	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 15px;

	}
}

@media screen and (max-width: 560px) {
	#index-main h1{
		
		margin-left: 0px;
		margin-right: 0px;
		margin: auto;
	}

	#index-main {
		display: block;
		width: 100%;
		margin: 75px auto;
		padding-left: 0px;
		padding-right: 0px;
		border-radius: 0px;
		border-width: 1px 0px 1px 0px;
	}

	header h1 {
		width: 100%;
	}
}

#main-game li {
    width: 30px;
    height: 30px;
    border: solid grey 1px;
    display: table-cell;
    opacity: 0.85;
    /*transform: rotate(7deg);*/
}

#main-game ul {
    list-style-type: none;
    padding: 0px;
}


#main-game {
    border: solid black 1px;
    border-radius: 5px;
    /*width: 320px;*/
    /*background-color: yellow;*/
    background-image: url('https://media.giphy.com/media/lSzQjkthGS1gc/giphy.gif');
    background-size: cover;
    display: inline-block;
    margin-left: 20px;
    /*margin-top: 50px;*/
    box-shadow: 0px 0px 10px 0px black;
}

#main-game .background {
    background-color: black;
    border: solid darkgrey 1px;
    opacity: 0;
}

#main-game .terrain {
    background-color: black;
    border: solid black 1px;
}

#main-game .block {
    background-color: grey;
    border: solid grey 1px;
}

#main-game * {
    margin: 0px;
}