#main-game li {
    width: 30px;
    height: 30px;
    border: solid grey 1px;
    display: table-cell;
    opacity: 0.85;
    /*transform: rotate(7deg);*/
}

#main-game ul {
    list-style-type: none;
    padding: 0px;
}


#main-game {
    border: solid black 1px;
    border-radius: 5px;
    /*width: 320px;*/
    /*background-color: yellow;*/
    background-image: url('https://media.giphy.com/media/lSzQjkthGS1gc/giphy.gif');
    background-size: cover;
    display: inline-block;
    margin-left: 20px;
    /*margin-top: 50px;*/
    box-shadow: 0px 0px 10px 0px black;
}

#main-game .background {
    background-color: black;
    border: solid darkgrey 1px;
    opacity: 0;
}

#main-game .terrain {
    background-color: black;
    border: solid black 1px;
}

#main-game .block {
    background-color: grey;
    border: solid grey 1px;
}

#main-game * {
    margin: 0px;
}

#rules {
    display: inline-block;
    vertical-align: top;
}